:host {
  display: grid;
  margin: auto;
  grid-template-rows: max-content max-content;
  grid-template-columns: 600px;
  justify-content: center;

  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    justify-content: space-evenly;

    .name {
      font-size: 2rem;
      font-weight: bold;
    }
    .center-items {
      padding: 2px 0;
    }
    .profile-image {
      align-self: center;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: auto;
      .profile-image {
        justify-self: center;
      }
    }
  }
  hr {
    width: 100%;
  }
}
